.btn-secondary {
  border: 1px solid #00a5f0;
  background-color: transparent;
  color: $brand-blue-light;
  transition: all 0.3s;
  &:hover {
    background-color: $brand-blue-light; //here what I changed
    color: white;
  }

  &.white {
    border: 1px solid white;
    color: white;
    &:hover {
      background-color: white;
      color: $brand-ciano;
    }
  }
}

.btn-primary {
  background-color: $brand-red;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.3s;
  &:hover {
    background-color: #ffffff;
    color: $brand-red;
  }
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0 3rem;
  border-radius: 122px;
  font-family: "Poppins", sans-serif;
  line-height: 4.8rem;
  font-size: 1.6rem;
}
