footer {
  background-color: $brand-blue;
  text-align: center;
  padding: 2rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      height: auto;
      width: 30rem;
    }
    p {
      color: #fff;
      font-size: 2rem;
      font-weight: 500;
    }
  }

  @include responsive(1050px) {
    .container {
      padding: 0 1.5rem;
      flex-direction: column;
      img {
        margin-top: 0;
      }
      p {
        margin-top: 2rem;
        span {
          display: block;
        }
      }
    }
  }
  @include responsive(991px) {
    .main {
      width: 100%;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 3.6rem;
      nav {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        .item {
          width: 33%;
          margin-bottom: 2rem;
        }
      }
      .btns {
        position: absolute;
        bottom: 8rem;
        right: 0;
      }
    }
    .msg {
      flex-direction: column;
      align-items: center;
      p {
        margin-left: 0;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
  @include responsive(600px) {
    .container {
      p {
        font-size: 1.7rem;
      }
      nav {
        width: 100%;
      }
    }
  }
  @include responsive(375px) {
    .container {
    }
  }
}
