header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.8rem;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 3;
  .container {
    @include flex(row, center, space-between);
  }
  &.fixed-menu {
    opacity: 0.98;
    background-color: #00bee2;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    nav {
      ul {
        li {
          a {
            background-color: #5f5c6b;
            &:hover {
              color: #00a5f0;
            }
          }
        }
      }
    }
    .logo {
      background-image: url("../img/assets/Logo (1) (1).png") no-repeat center
        center;
    }
  }
  .logo {
    display: inline-block;
    width: 16rem;
    height: 30px;
    background: url("../img/assets/Logo (1) (1).png") no-repeat center center;
    background-size: 100%;
    transition: all 0.3s;
    padding-top: 7rem;
  }
  nav {
    position: relative;
    display: flex;
    align-items: center;
    .dropdown {
      position: absolute;
      top: 4.9rem;
      right: 68rem;
      width: 100%;
      max-width: 37.3rem;
      background-color: white;
      border-radius: 6px;
      padding: 4rem;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      transform: translateY(20px);
      &.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
      &:after {
        content: "";
        width: 29.3rem;
        height: 0.5rem;
        background: #ffc800;
        border-radius: 1.2rem 1.2rem 0 0;
        position: absolute;
        bottom: 0;
      }
      .item {
        &:not(:last-child) {
          margin-bottom: 2.8rem;
        }
        strong {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 1.9rem;
          color: $gray-500;
          display: block;
          margin-bottom: 0.4rem;
          transition: all 0.3s;
          &:hover {
            font-weight: bold;
            color: #0073ce;
            cursor: pointer;
          }
        }
        p {
          font-size: 1.4rem;
          line-height: 150%;
          color: #8c8a97;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      margin-right: 5.9rem;
      li {
        &:not(:first-child) {
          margin-left: 4.8rem;
        }
        a {
          font-family: "Poppins", sans-serif;
          font-size: 1.6rem;
          line-height: 125%;
          color: #ffffff;
          transition: all 0.5s;
          &:hover {
            color: $brand-blue-normal;
          }
        }
      }
    }
  }
  @include responsive(600px) {
    .container {
      padding: 0 1.5rem;
      nav {
        width: 50%;
        a {
          padding: 0 1rem;
          line-height: 3.8rem;
        }
      }
    }
  }
  @include responsive(375px) {
    .container {
      .logo {
        width: 13rem;
      }
      nav {
        max-width: 15rem;
        width: 45%;
        a {
          font-size: 1.28rem;
        }
      }
    }
  }
}
