// Cores

$brand-blue: #3a5f8c;
$brand-light-blue: #004fb3;
$brand-green-light: #0072ff;
$brand-yellow: #0097ff;
$brand-yellow: #92d8f4;
$brand-yellow: #c1ecf6;
$brand-red: #ce2f2f;

// Escalas de Cinza

$gray-600: #605e5e;
$gray-500: #f9f9f9;

// Fontes
