// Cores

$brand-blue-grey: #3a5f8c;
$brand-blue-strong: #004fb3;
$brand-blue-normal: #0072ff;
$brand-blue: #0097ff;
$brand-ciano: #92d8f4;
$brand-blue-light: #c1ecf6;
$brand-red: #ce2f2f;

// Escalas de Cinza

$gray-600: #605e5e;
$gray-500: rgb(22, 22, 22);

// Fontes
